.homepage-root {
    background-color: var(--primary-grey);
    width: 100%;
}

.homepage-root .image-container {
    display: flex;
    max-width: 100%;
    overflow-x: hidden;
    justify-content: center;
    position: relative;
}

.homepage-root .image-container .centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--primary-white);
    font-size: 50pt;
    font-weight: bold;
    text-align: center;
}