.category-card {
    text-decoration: none;
    background-color: var(--primary-green);
    color: var(--primary-white);
    padding: 1rem;
    font-size: 20pt;
    font-weight: 600;
    text-align: center;
    width: 350px;
    box-shadow: 0 0 10px 7px #92b1a4a0;
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border-radius: 10px;

}

.category-card:hover {
    box-shadow: 0 0 20px 2px #3f856b inset;
}