.product-container {
    background-color: var(--primary-grey);
    padding: 2rem;
    position: relative;
}

.product-container .back {
    position: absolute;
    left: 20px;
    top: 10px;
    background-color: var(--primary-green);
    padding: 1rem;
    border-radius: 8px;
    font-weight: 600;
    color: var(--primary-white);
    transition: 0.3s;


}

.product-container .product-main {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    margin: 1.5rem;
}

.product-container .product-actual,
.product-container .product-selection {
    padding: 1rem;
    border-radius: 8px;
    margin: 1rem;
}

.product-container .product-actual {
    display: flex;

    background-color: var(--tertiary-grey);
    box-shadow: 0 8px 32px 0 #a9bdb5a0;
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border-radius: 10px;
    border: 1px solid #ffffff2e;
}

.product-container .product-information {
    text-align: left;
    padding: 1rem;
}

.product-information>div {
    padding: 0.5rem;
    color: var(--primary-black);
}

.product-container .product-name,
.product-container .product-price {
    font-size: 26pt;
    font-weight: 700;
}

.product-container .product-brand {
    font-size: 18pt;
    font-weight: 500;
}

.product-container .product-category {
    font-size: 14pt;
    font-weight: 400;
    font-style: italic;

}

.product-container .product-selection {
    margin: 0;
}

.product-container .product-data {
    background: linear-gradient(45deg, var(--primary-green), var(--secondary-green));
    padding: 2rem 3rem;
    margin-bottom: 1rem;
    color: var(--primary-white);


    box-shadow: 0 8px 32px 0 #a9bdb5a0;
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border-radius: 10px;
    border: 1px solid #47D9A8;

}

.product-container .product-price,
.product-container .product-size,
.product-container .product-quantity,
.product-container .quantity-prompt {
    text-align: center;
    margin-top: 1rem;
}

.product-container .product-size {
    margin-bottom: 2rem;
    font-style: italic;
    font-weight: 400;
}

.product-container .product-quantity {

    width: 3rem;
    height: 3rem;
    display: block;
    margin: 0 auto;


    border: none;
    border-radius: 8px;
    font-size: 16pt;
    outline: none;
}

.product-container .product-add-item {
    padding: 1rem;
    border-radius: 8px;
    width: 100%;
    background: linear-gradient(45deg, var(--primary-green), var(--secondary-green));
    color: var(--primary-white);
    font-weight: 700;
    font-size: 16pt;
    cursor: pointer;
    transition: 0.3s;
}

.product-container .related-items {
    text-align: left;
    margin: 0;
    color: var(--primary-black);
}

.product-container h2 {
    border-bottom: var(--primary-green) 3px solid;
    width: fit-content;
    padding: .25em;
    font-size: 20pt;
}

.product-container .more-products {
    display: flex;
    overflow-x: scroll;
}

.product-container .quantity-prompt {
    font-style: italic;
    font-weight: 400;
}

.product-container .hover:hover {
    box-shadow: 0px 0px 3px 4px #3f856b inset;
}

@media screen and (max-width: 550px) {

    .product-container {
        padding: 3rem 0 0 0;
    }

    .product-container .product-main {
        flex-direction: column;
    }

    .product-container .product-actual,
    .product-container .product-selection {
        flex-direction: column;
        width: 400px;
        margin: 0;
    }

    .product-container .product-data {
        display: flex;
        justify-content: space-between;
        padding: .5rem 2rem;
    }

    .product-container .product-price,
    .product-container .product-size,
    .product-container .product-quantity,
    .product-container .quantity-prompt {
        text-align: center;
        margin-top: 1rem;
    }

    .product-container .product-image {
        display: block;
        margin: 0 auto;
    }
}