.product-card {

    text-align: center;
    width: 10rem;

    margin: 20px;
    padding: 1em;

    background: var(--tertiary-grey);
    box-shadow: 0 8px 32px 0 #a9bdb5a0;
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border-radius: 10px;
    border: 1px solid #ffffff2e;

}

.product-card .product-info {
    margin: 1rem;
    height: 100px;

}

.product-card .product-info>* {
    padding: .1em;
    color: var(--primary-black);
}

.product-card .price {
    font-size: 16pt;
    font-weight: 700;
}

.product-card .name {
    font-size: 12pt;
    font-weight: 300;
}

.product-card .size {

    font-size: 10pt;
    font-style: italic;
}

.product-card .add-item {
    border-radius: 15px;
    padding: .5rem;
    width: fit-content;
    background-color: var(--primary-green);
    border: none;
    color: var(--primary-white);
    font-size: 16pt;
    transition: .3s;
}

.product-card .add-item:hover {
    box-shadow: 0px 0px 3px 4px #3f856b inset;
}