.loader-spin-root {
    width: 100%;
    margin: 0 auto;
    display: flex;
    padding: 30px 0;
}

.loader-spin-root .circle {
    background: transparent;
    width: 2rem;
    aspect-ratio: 1;
    margin: 0 auto;
    border-radius: 50%;
    border: solid var(--primary-grey) 5px;
    border-bottom: 5px solid var(--primary-white);
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg);
    }
}