.nav-root {
    position: sticky;
    top: 0;
    z-index: 4;
}

.nav-root nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    /* min. space between .left and .right boxes */
    padding: 0.5rem 1rem;
    background: linear-gradient(45deg, var(--primary-green), var(--secondary-green));
    color: var(--primary-white);
}

nav .left,
nav .right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav .left,
nav .nav-search {
    flex-grow: 1;
}

nav .icon {
    color: var(--primary-green);
    background-color: var(--primary-white);
    font-size: 17pt;
    padding: .5em;
    border-radius: 50%;
    cursor: pointer;
}

.nav-root .cart {
    color: var(--secondary-green);
}

nav .logout,
nav .login {
    background-color: var(--primary-white);
    color: var(--secondary-grey);
    padding: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
    width: 6rem;
    font-size: 12pt;
    border-radius: 25px;
}

nav .active-user {
    font-weight: bold;
    letter-spacing: 1px;
}

nav .logout:hover,
nav .login:hover,
nav .icon:hover {
    box-shadow: 0px 0px 4px 2px #c5cac8 inset;

}

.nav-root .side-menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-white);
    z-index: 3;

    width: 400px;
    transform: translateX(105%);

    transition: 0.5s;
}

.nav-root .side-menu.visible {
    transform: none;
}

.nav-root .exit {
    color: rgba(91, 158, 108, 0.719);
    position: absolute;
    left: 10px;
    top: 10px;
    transition: 0.3s;
}

.nav-root .exit:hover {

    color: rgb(213, 110, 110);
}

nav .method {
    display: flex;
    gap: 5px;
    border: white solid 2px;
    border-radius: 6px;
    transition: .3s;
    cursor: pointer;
}

nav .method:hover {
    box-shadow: 0px 0px 5px 5px #2d9d72 inset;
}

nav .logged-out {
    display: flex;
    gap: 20px;
}

nav .method>div {
    padding: 0.5rem 1rem;
}

nav .method .selected {
    background-color: var(--primary-white);
    color: var(--primary-green);
    transition: .3s;
    font-weight: bold;
}

@media screen and (max-width: 850px) {
    nav .method {
        display: none;
        border: solid red 4px;
    }
}

@media screen and (max-width: 700px) {
    .nav-root .active-user {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .nav-root .side-menu {
        width: 100%;

    }


}