.nav-root .nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: rgb(86, 115, 233);
    color: rgb(233, 229, 229);
}

.side-menu {
    border: solid red 2px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: white;

    width: fit-content;
    transform: translateX(105%);

    transition: 0.5s;
}


.side-menu.visible {
    transform: none;
}

@media screen and (max-width: 550px) {
    .side-menu {
        left: 0;
        width: unset;
    }
}