.card-number {
    display: flex;
    width: 170px;
    height: 22px;
    margin: 15px;
}

.expiration-date {
    display: flex;
    width: 170px;
    height: 22px;
    margin: 15px;
}

.expiration-date .cvv {
    margin-left: 50px;
}

.billing-root .billing-address input,
.billing-root .billing-address select,
.billing-root .cardholder-name input {
    padding: 5px;
    margin-bottom: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.billing-root p {
    color: black;
    font-size: 10pt;
}