.item-form-root {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 15px;
    padding-bottom: 45px;
    max-width: 400px;
    position: relative;
}

.item-form-root label {
    display: block;
    color: black;
    font-size: 10pt;
}

.item-form-root input {
    width: 100%;
    box-sizing: border-box;
}

.item-form-root button {
    background-color: #f1fafe;
    color: #3ebf8d;
    border: #3ebf8d 1px solid;
    padding: 7px;
    border-radius: 10px;
    margin-right: 3px;
    font-weight: 700;

}


.item-form-root .btn-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    left: 10px;
}

.right-btn {
    float: right;
}

.left-btn {
    float: left;
}

.item-form-root button:hover {
    background-color: #3ebf8d;
    color: #f1fafe;
}