.footer-root {
    text-align: center;
    border-top: solid 1px var(--primary-black);
    background-color: var(--secondary-white);
    bottom: 0;
    position: absolute;
    width: 100vw;
    box-sizing: border-box;
}

.footer-root .flex-container {
    display: flex;
    justify-content: space-between;
}