.cat-container {
    margin: 1rem;
    padding: 1rem;
}

.cat-container .cat-card {
    text-decoration: none;
    background-color: #3DC08D;
    padding: 3rem;

    width: 300px;
    border-radius: 10px;

    box-shadow: 0 0 10px 10px #7aa594a0;
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    transition: 1s;
}

.cat-container .cat-card:hover {
    color: #F2FAFF;
    background-color: #3dc08d;
    box-shadow: 0 0 20px 2px #3f856b inset;
    transition: .5s;

}

.flex {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    overflow-x: scroll;
    gap: 10px;
    align-items: flex-start;
}

@media screen and (max-width: 550px) {
    .flex {
        display: grid;
        grid-template-columns: 1fr;
    }

}