:root {
  --primary-green: #3DC08D;
  --secondary-green: #47D9A8;
  --tertiary-green: #289c6f;

  --primary-grey: #c7cfd5;
  --secondary-grey: #505251;
  --tertiary-grey: #d9fff64d;

  --primary-white: #F2FAFF;
  --secondary-white: #ccdede;

  --primary-black: #111111;

  --red: #ff2d2d;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  font: inherit;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.input-group {
  display: flex;
  flex-direction: column;
  text-align: left;

}

.input-group label {
  margin: .5em;
}