.login-form>div {
    padding: 1em;
}

.login-form .login-failed {
    color: rgb(255, 45, 45);
    font-size: 0.8rem;
    opacity: 0;
    cursor: default;
}

.login-form .login-failed.visible {
    opacity: 1;
}

.login-form button {
    padding: 0.5rem 1rem;
    min-width: 5rem;
    font-size: 1rem;
}

.login-form input {
    border: none;
    padding: .5rem;
    outline: none;
}


.login-form .button-green {
    background-color: #47D9A8;
    font-weight: 500;
    color: #F2FAFF;
}

.login-form .button-green:disabled {
    color: #f0e5e5ba;
}

.login-form .show-password,
.login-form .checkbox {
    cursor: pointer;
}

.login-form label {
    color: #111111;
    font-weight: 500;


}

.login-form .loader-spin-root {
    display: flex;
    background-color: inherit;
}

.login-form .loader-spin-root .circle {
    background: transparent;
    width: 2rem;
    aspect-ratio: 1;
    margin: 0 auto;
    border-radius: 50%;
    border: solid rgba(241, 237, 237, 0.585) 5px;
    border-bottom: 5px solid rgb(255, 255, 255);
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg);
    }
}